.img-dogpaw {
  width: 60px;
  height: 60px;
}

.dog-paw-plans {
  width: 250px;
  height: 250px;
  border-radius: 500px;
}

.dog-paw-plans-2 {
  width: 250px;
  height: 250px;
  border-radius: 500px;
}
