.css-1wc848c-MuiFormHelperText-root.Mui-error {
  color: #3f3f3f !important;
}

.css-2ehmn7-MuiInputBase-root-MuiOutlinedInput-root.Mui-error
  .MuiOutlinedInput-notchedOutline {
  border-color: #3f3f3f !important;
}

.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root.Mui-error
  .MuiOutlinedInput-notchedOutline {
  border-color: #3f3f3f !important;
}
